.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

// for better legibility
.container-constrained {
  max-width: 800px;
}

// use in conjunction with .container-constrained for full-width content inside
// constrained row
.content-container-expanded {
  margin: 0;
}

// target screens larger than main container
@media only screen and (min-width: 1000px) {
  .content-container-expanded {
    margin: 0 -100px 0 -100px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-4,
.col-6,
.col-12 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.clearfix:before,
.container:before,
.row:before,
.inline-image-container:before {
  display: table;
  content: " ";
}

.clearfix:after,
.container:after,
.row:after,
.inline-image-container:after {
  clear: both;
  display: table;
  content: " ";
}

@media only screen and (min-width: 768px) {
  .col-4 {
    float: left;
    width: 100/3 * 1%;
  }
  .col-6 {
    float: left;
    width: 100/2 * 1%;
  }
  .col-12 {
    float: left;
    width: 100%;
  }
}
