.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  @include img-depth();
}

.img-center {
  margin: 0 auto;
}

.img-left-inline {
  float: left;
  margin-right: 20px;
  width: 50%;
}

.inline-image-container {
  padding: 0 0 20px 0;
}

.inline-image {
  margin: 15px;
  &.mod-top-aligned {
    margin-top: 10px;
  }
  &.mod-left-aligned {
    margin-left: 0px;
  }
}

.caption-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.inline-image-caption {
  font-size: 1.1rem;
  font-family: $sans-serif;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .img-left-inline {
    float: left;
    margin-right: 0;
    width: 100%;
  }
  .inline-image {
    max-width: 50%;
  }
}
