.page-body {
  @include vertical-page-element-rhythm();
}

.nav-container {
  border-bottom: 1px solid $lighter-text;
}

.top-level-navigation {
  font-family: $sans-serif;
  ul {
    float: right;
    font-size: 1.2rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      float: left;
      display: block;
      padding: 10px 30px 10px 0;
      margin: 0;
    }
  }
  a {
    font-weight: 700;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

ul.structure-list {
  margin: 0;
  list-style: none;
  li {
    margin: 0;
    line-height: inherit;
  }
}

.page-intro {
  padding: 20px;
  @include row-spacing();
}

.page-footer {
  border-top: 1px solid $lighter-text;
  padding: 20px 0 15px 0;
  color: $primary-text-color;
  h4 {
    font-weight: 400;
  }
  .inline-list {
    padding-right: 20px;
  }
}

.attribution {
  font-size: 1.1rem;
  padding: 20px 0 10px 0;
}

// non-mobile specific styles
@media (min-width: 768px) {
  .top-level-navigation a {
    font-size: 1.8rem;
  }
  .page-intro {
    padding: 50px;
    @include row-spacing();
  }
}
