$primary-text-color: #444;
$primary-link-color: #338772;
$primary-nav-color: #fff;

html {
  color: $primary-text-color;
}

body {
  font-size: 1.35rem;
  font-family: $sans-serif-main;
  color: $primary-text-color;
  background: $body-bg;
  font-weight: 300;
}

.sans-serif {
  font-family: $serif-main;
}

a {
  text-decoration: underline;
  color: $post-meta-link;
}

p {
  line-height: 1.6;
  @include vertical-text-rhythm();
}
p:last-child {
  padding-bottom: 0;
}

h1,
h2,
h3,
h4 {
  font-family: $serif-main;
  font-weight: 700;
  @include vertical-heading-rhythm();
  line-height: 1.2;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

ol,
ul {
  margin-left: 40px;
  @include vertical-text-rhythm() li {
    margin-bottom: 7.5px;
    margin-top: 7.5px;
    line-height: 1.4;
  }
}

blockquote {
  background: $content-box;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.4;
  padding: 20px;
  margin-bottom: 20px;
  border-left: 10px solid $secondary-text-color;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.small {
  font-size: 1rem;
}

.top-level-navigation a {
  color: $primary-text-color;
}

.work-heading-section {
  margin-top: 20px;
}

.page-intro-heading {
  font-family: $serif-main;
  font-size: 2.7rem;
  margin: 0;
  padding: 0;
}

.page-intro-subheading {
  font-family: $serif-main;
  font-weight: 200;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.page-intro-text {
  padding-top: 20px;
  font-size: 2rem;
  font-weight: 400;
}

.next-prev-control a {
  font-size: 1.2rem;
  font-family: $serif-main;
  line-height: 1;
  text-decoration: none;
}

.recent-posts-date {
  display: inline-block;
  width: 13rem;
  font-size: 1.8rem;
  font-style: italic;
}

.recent-posts a {
  color: $primary-text-color;
}

// non-mobile specific styles
@media only screen and (min-width: 768px) {
  ol,
  ul {
    margin-left: 60px;
  }
  .work-heading-section {
    margin-top: 0px;
  }
  .page-intro-heading {
    font-size: 4.7rem;
  }

  .page-intro-text {
    font-size: 2.2rem;
    line-height: 1;
  }
}
