html {
  color: $primary-text-color;
}

body {
  font-size: 1.35rem;
  font-family: $serif;
  color: $primary-text-color;
  background: $body-bg;
  font-weight: 300;
}

.sans-serif {
  font-family: $sans-serif;
}

a {
  text-decoration: underline;
  color: $primary-link-color;
}

p {
  line-height: 1.6;
  @include vertical-text-rhythm();
}
p:last-child {
  padding-bottom: 0;
}

h1,
h2,
h3,
h4 {
  font-family: $sans-serif;
  font-weight: 700;
  @include vertical-heading-rhythm();
  line-height: 1.2;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

h3.recent-posts {
  font-size: 1.8rem;
  display: flex;
  justify-content: flex-start;
}

h4 {
  font-size: 2rem;
}

strong {
  font-weight: 700;
}

ol,
ul {
  margin-left: 40px;
  @include vertical-text-rhythm();
  li {
    margin-bottom: 7.5px;
    margin-top: 7.5px;
    line-height: 1.4;
  }
}

blockquote {
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.4;
  padding: 20px;
  margin-bottom: 20px;
  border-left: 10px solid $primary-text-color;
}

table {
  @include vertical-heading-rhythm();
}

td, tr, th {
  border: 1px solid lighten($lighter-text, 20%);
  padding: 10px;
  font-size: 1.1rem;
}

th {
  padding: 16px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.small {
  font-size: 1rem;
}

.top-level-navigation a {
  color: $primary-text-color;
}

.page-intro-heading {
  font-family: $sans-serif;
  font-size: 3.2rem;
  margin: 0;
  padding: 0;
}

.page-intro-text {
  padding-top: 20px;
  font-size: 1.2rem;
  font-weight: 400;
}

.next-prev-control a {
  font-size: 1.2rem;
  font-family: $sans-serif;
  line-height: 1;
  text-decoration: none;
}

.recent-posts-date {
  display: block;
  width: 13rem;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 300;
}

.recent-posts a {
  color: $primary-text-color;
}

// non-mobile specific styles
@media only screen and (min-width: 768px) {
  ol,
  ul {
    margin-left: 60px;
  }

  h3.recent-posts {
    font-size: 2.2rem;
  }

  .recent-posts-date {
    flex-shrink: 0;
    display: block;
    width: 13rem;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 300;
  }

  .page-intro-heading {
    font-size: 4.7rem;
  }

  .page-intro-text {
    font-size: 2rem;
    line-height: 1;
  }
}
