$body-bg: #fff;
$primary-text-color: #444;
$lighter-text: lighten($primary-text-color, 30%);
$primary-link-color: #07beb8;

$serif: "Merriweather", "Georgia", "Times New Roman", serif;
$sans-serif: "Fira Sans", "Helvetica Neue", Helvetica, Trebuchet, Tahoma, Arial,
  sans-serif;

$default-transition: all linear 0.3s;

@mixin img-depth() {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -mox-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

@mixin vertical-heading-rhythm() {
  margin-top: 10px;
  margin-bottom: 20px;
}

@mixin vertical-text-rhythm() {
  padding-bottom: 20px;
}

@mixin row-spacing() {
  margin-bottom: 30px;
}

@mixin vertical-page-element-rhythm() {
  margin-top: 30px;
  margin-bottom: 30px;
}
