{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<div class="container page-body">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="structure-list">
          {{ range .Paginator.Pages }}
            {{ .Render "li" }}
          {{ end }}
        </ul>
        <nav>
          <ul class="pagination clearfix">
            {{ if .Paginator.HasPrev }}
              <li>
                <a href="{{ .Paginator.First.URL }}" aria-label="First">
                  <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                </a>
              </li>
              <li>
                <a href="{{ .Paginator.Prev.URL }}" aria-label="Next">
                  <span aria-hidden="true">{{ .Paginator.Prev.PageNumber }}</span>
                </a>
              </li>
            {{ end }}
            {{ if gt .Paginator.PageNumber 1 }}
            <li class="active"><a href="#">{{ .Paginator.PageNumber }}</a></li>
            {{ end }}
            {{ if .Paginator.HasNext }}
            <li>
              <a href="{{ .Paginator.Next.URL }}" aria-label="Next">
                <span aria-hidden="true">{{ .Paginator.Next.PageNumber }}</span>
              </a>
            </li>
            <li>
              <a href="{{ .Paginator.Last.URL }}" aria-label="Last">
                <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
              </a>
            </li>
            {{ end }}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
