<li>
  <article class="article-preview">
    <h2 class="post-title"><a href="{{ .Permalink }}" rel="bookmark" title="Link to {{ .Title }}">{{ .Title }}</a></h2>
    <div class="post-meta">
      <em class="date-posted">{{ .Date.Format "January 2, 2006" }}</em>
      <div>
        <span>File under:</span>
        {{ range .Params.categories }}
          <a class="post-category" href="/categories/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
        <span>Tags:</span>
        {{ range .Params.tags }}
          <a class="post-tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </div>
    </div>
    <div class="article-body"><p>{{ .Params.summary }}</p></div>
  </article>
</li>
