    <footer class="page-footer primary-color sans-serif ">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h4>About</h4>
            <p class="small">
            Hanna's Thoughts: Writings on a bunch of stuff I find interesting!
            </p>
          </div>
          <div class="col-4">
            <h4>Navigation</h4>
            <p class="small">
              <span class="inline-list"><a href="/">Home</a></span>
              <span class="inline-list"><a href="/posts">Posts</a></span>
              <span class="inline-list"><a href="/about">About</a></span>
            </p>
          </div>
          <div class="col-4">
            <h4>Contact</h4>
            <p class="small">
              <span class="inline-list"><a href="https://twitter.com/lieblhan"><i class="fa fa-twitter-square"></i> Twitter</a></span>
              <span class="inline-list"><a href="mailto:hanna.liebl@gmail.com"><i class="fa fa-envelope-square"></i> Email</a></span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center attribution">
            © 2020 - {{ dateFormat "2006" now }} Hanna Liebl
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
